.scroll {
  overflow: scroll !important;
}
.scroll-hidden {
  overflow: hidden !important;
}
.scroll-auto {
  overflow: auto !important;
}
.scroll-x {
  overflow-x: scroll !important;
}
.scroll-x-hidden {
  overflow-x: hidden !important;
}
.scroll-x-auto {
  overflow-x: auto !important;
}
.scroll-y {
  overflow-y: scroll !important;
}
.scroll-y-hidden {
  overflow-y: hidden !important;
}
.scroll-y-auto {
  overflow-y: auto !important;
}
